<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>ClicksAndShop</title>
</head>
<body>
<!-- navbar -->
<nav class="formnav">
        
    <a href="../../index.html">Inicio</a>
    <a href="../views/iluminacion.html">Iluminacion</a>
    <a href="../views/jugueteria.html">Juguetes</a>
    <a href="">Registro</a>
    </nav>
    <!--HEADER-->
    <header>
        <div>
            <h1>Sitio de Compras</h1>
            <h2>Registrate</h2>
        </div>
    </header>

    <!-- formulario -->
    <form action="">
        <fieldset>
            <legend>Registro</legend>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="name">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="lname">
            <label for="email">Email</label>
            <input type="email" id="email" name="correo">
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="pass">
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" id="fecha" name="date">
            <input type="submit" value="Registrarse">
            <input type="reset" value="borrar">
        </fieldset>
    </form>
</body>
</html>