<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>ClicksAndShop</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">ClikcAndShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="../../index.html">Inicio</a>
        <a class="nav-link" href="../views/iluminacion.html">Iluminacion</a>
        <a class="nav-link" href="../views/jugueteria.html">Jugueteria</a>
        <a class="nav-link" href="../views/formulario de registro.html" target="_blank">Registro</a>
      </div>
    </div>
  </div>
</nav>
    <!--HEADER-->
    <header class="headeriluminacion">
        <h1>jugueteria</h1>
    </header>
    <!-- principal tarjetas -->
    <div class="tarjetas">
        <div class="card" style="width: 18rem;">
            <img src="../img/Posteo_Vertical_POPPI_1_IG.jpg" class="img-card-img-top" alt="POPPI">
            <div class="card-body">
              <h5 class="card-title">Poppi Primer Bebe</h5>
              <p class="card-text">¡Llegó mi primer bebé de Poppi, con mamadera! 🍼🍼🍼
                Hermoso muñeco, de 31 cm de altura, ¡para los más pequeños!
                Posee 6 graciosos sonidos 🎵🎶🎵
                Tenemos a: Cami – Juani – Clari – Facu – Fede – Cata 👶👶
                Según disponibilidad, Compra YA!! así podes elegir cuál querés llevar…
                Excelente material, suave y blando al tacto
                Funciona con 3 pilas (incluidas)
                ¡Los bebes te están esperando!
                
                </p>
              <a href="#" class="botoncomprar">COMPRAR</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../img/Posteo_Vertical_Asiento_Doble_Anillo_IG_Mesa de trabajo 1.png" class="img-card-img-top" alt="salvavidas">
            <div class="card-body">
              <h5 class="card-title">Asiento Doble Anillo</h5>
              <p class="card-text">Excelente flotador inflable Bestway original para disfrutar de la pile con los mas chiquititos! Acompañalo a experimentar sus primeros pasos 🌊 este #Verano en la #pileta! Parte inferior en X para máxima seguridad. Edad recomendada para niños de hasta 12 meses. Utilizar siempre bajo la supervisión de un adulto. Apurate por que este verano vuelan!               
                </p>
              <a href="#" class="botoncomprar">COMPRAR</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../img/Posteo_Vertical_X-SHOT_1_IG.jpg" class="img-card-img-top" alt="x-shot">
            <div class="card-body">
              <h5 class="card-title">Pistola de Agua</h5>
              <p class="card-text">¡Llega el verano! 🌞🌞🌞
                Divertite jugando a la guerra de agua 🌊🌊🌊
                Pistola X-SHOT - WATER BLASTER de 38cm 🔫🔫🔫
                ¡Con un alcance 9mts!
                ¡A cargar y no parar de jugar!
                ¡¡Compra antes que se agoten!!                
                </p>
              <a href="#" class="botoncomprar">COMPRAR</a>
            </div>
          </div>
</div>
<!-- FOOTER -->
<footer>
  <P>&copy; Adrian De Oto, Proyecto Potrero Digital 2023</P>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>